<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyTravel</title>
</head>

<body>
<div>
    <section style="text-align: center">
        <h1>EasyTravel app is running</h1>
    </section>
</div>
</body>
</html>